@import 'general.scss';

main {
	padding-right: calc((100vw - 1385px) / 2);
}
.catalogue {
	flex: 1 1 auto;
	background: #F6F7F9;
	padding: 40px;
}
.catalogue-container {
	margin-top: 30px;
}
@media (max-width: 1200px) {
	.catalogue-card-img {
		width: 50%;
	}
}